@charset "utf-8";
/* CSS Document */

body
{
    background-image: url("bgi.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

#guide
{
    list-style-type: none;
    margin-top: 0px;
    padding-top: 0px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    display: flex;
}

.guide-list {
    float: left;
    border-right: 1px solid #bbb;
    width: 200px;
}

.guide-list a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.guide-list a:hover:not(.active) {
    background-color: #ddd;
}

.guide-list a.active {
    color: white;
    background-color: #4CAF50;
}

#buttomguide
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    width: 100%;
    bottom: 1px;
    position: fixed;
    display: flex;
}

.vertical-list
{
    list-style-type: none;
}